body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

#board {
    height: 540px;
    width: 630px;
    background-color: brown;
    border: 10px solid burlywood;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    color: ghostwhite;
    background-color: black;
    font-size: 3rem;
    border: 5px solid blueviolet;
    border-radius: 100px;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: aliceblue;
    border-radius: 50%;
    border: 2px solid rgb(253, 10, 212);
}

.red-piece {
    background-color: rgb(6, 255, 80);
}

.yellow-piece {
    background-color: rgb(7, 210, 255);
}

